@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import "helper";

body {
  font-size: 16px;
  color: #222222;
  background: #2c3e50;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

section {
  .container {
    position: relative;
    min-height: 500px;
    min-width: 300px;
    .input__wrapper {
      @include flex(row, nowrap, center);
      font-family: Montserrat;

      > div {
        margin-top: 50px;
        position: relative;
        width: 150px;

        input[type="text"] {
          display: inline-block;
          width: 100px;
          height: 2rem;
          box-sizing: border-box;
          outline: none;
          border: 1px solid lightgray;
          border-radius: 3px;
          padding: 10px 10px 10px 60px;
          transition: all 0.1s ease-out;
        }

        input[type="text"] + label {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          height: 2rem;
          line-height: 2rem;
          text-align: center;
          width: 3.5rem;
          color: white;
          border-radius: 3px 0 0 3px;
          margin: auto;
          background: #E03616;
          transform: translateZ(0) translateX(0);
          transition: all 0.3s ease-in;
          transition-delay: 0.2s;
        }

        input[type="text"]:focus + label {
          transform: translateY(-120%) translateX(0%);
          border-radius: 3px;
          transition: all 0.1s ease-out;
        }

        input[type="text"]:focus {
          padding: 10px;
          transition: all 0.3s ease-out;
          transition-delay: 0.2s;
        }
      }

      .btn-setup {
        box-sizing: border-box;
        appearance: none;
        background-color: transparent;
        border: 2px solid #e74c3c;
        border-radius: 0.6em;
        cursor: pointer;
        @include flex(row, nowrap, center);
        align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        margin: 50px 0px 0px;
        padding: 5px 10px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        border-color: #3498db;
        color: #fff;
        box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
        transition: all 150ms ease-in-out;

        &:hover {
          box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
        }

        &:hover,
        &:focus {
          color: #fff;
          outline: 0;
        }
      }
    }
    .notification-input{
      font-size: 10px;
      font-weight: 600;
      text-align: center;
      margin: 10px auto;
      color: #ff353b;
      font-family: 'Montserrat', sans-serif;
    }
    .game {
      display: grid;
      justify-content: center;
      transform-style: preserve-3d;
      perspective: 500px;
      .row{
        @include center-box();
        transform-style: preserve-3d;
        perspective: 500px;
      }
    }

    @keyframes matchAnim {
      0% {
        background: #ff353b;
      }
      100% {
        background: white;
      }
    }

    .card {
      width: 10rem;
      height: 14rem;
      margin: 5px;
      text-align: center;
      display: block;
      perspective: 500px;
      position: relative;
      cursor: pointer;
      z-index: 50;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .inside {
        width: 100%;
        height: 100%;
        display: block;
        transform-style: preserve-3d;
        transition: .4s ease-in-out;
        background: white;

        &.picked, &.matched {
          transform: rotateY(180deg);
        }

        &.matched {
          animation: 1s matchAnim ease-in-out;
          animation-delay: .4s;
        }
      }

      .front, .back {
        border: 1px solid black;
        backface-visibility: hidden;
        position: absolute;
        font-family: 'Sriracha', cursive;
        font-size: 5vw;
        top: 0;
        left: 0;
        @include center-box();
        width: 100%;
        height: 100%;
        //div{
        //  font-family: 'Sriracha', cursive;
        //  font-size: 5vw;
        //}
        img {
          max-width: 90%;
          max-height: 100%;
        }
      }
      .front {
        transform: rotateY(-180deg);
      }
      .back {}
    }

    .modal-overlay {
      background: rgba(0, 0, 0, 0.8);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 1s;
      visibility: hidden;
      opacity: 0;
      &.show {
        opacity: 1;
        visibility: visible;
      }
    }

    .modal {
      position: relative;
      width: 500px;
      height: 400px;
      max-height: 90%;
      max-width: 90%;
      min-height: 380px;
      margin: 0 auto;
      background: #2c3e50;
      top: 50%;
      transform: translateY(-50%);
      padding: 30px 10px;
      border-radius: 50px;


      .winner {
        font-size: 80px;
        text-align: center;
        font-family: 'Sriracha', cursive;
        color: #fff;
        text-shadow: 0px 3px 0 black;
      }

      .restart {
        box-sizing: border-box;
        appearance: none;
        background-color: transparent;
        border: 2px solid #e74c3c;
        border-radius: 0.6em;
        cursor: pointer;
        display: flex;
        align-self: center;
        font-size: 1rem;
        line-height: 1;
        margin: 30px auto;
        padding: 20px 30px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Sriracha', cursive;
        font-weight: 700;
        border-color: #3498db;
        color: #fff;
        box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
        transition: all 150ms ease-in-out;
        &:hover {
          box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
        }
        &:hover,
        &:focus {
          color: #fff;
          outline: 0;
        }
      }
    }
  }

}
